
<app-navbar></app-navbar> <!-- Thanh navbar -->
<div class="home-container">
  <!-- Banner -->
  <div class="banner">
    <img src="https://png.pngtree.com/thumb_back/fw800/background/20230611/pngtree-an-empty-bookshop-stacked-with-books-image_2924924.jpg" alt="Banner" class="banner-image" />
    
  </div>

  <!-- Categories -->
  <section class="categories">
    <h3>Browse By Category</h3>
    <div class="category-list">
      <div class="category-item" *ngFor="let category of categories">
        <img [src]="category.image" [alt]="category.name" />
        <p>{{ category.name }}</p>
      </div>
    </div>
  </section>

  <!-- Flash Sales -->
  <section class="flash-sales">
    <h3>Today's Flash Sales</h3>
    <div class="product-list">
      <div class="product-item" *ngFor="let product of flashSales">
        <img [src]="product.image" [alt]="product.name" />
        <p>{{ product.name }}</p>
        <p>
          <span class="discount-price">{{ product.price | currency }}</span>
          <span class="original-price">{{ product.originalPrice | currency }}</span>
        </p>
        <button>Add To Cart</button>
        <button 
        class="btn btn-primary" 
        (click)="proceedToProductDetail()"  
        style="background-color: #ffffff; color: white; border: none; border-radius: 5px; padding: 10px 20px; font-size: 14px; cursor: pointer;">👁️</button>

      </div>
    </div>
  </section>

  <section class="benefits">
    <div class="benefit-item">
      <img src="https://cdn-icons-png.flaticon.com/512/744/744922.png" alt="Free Delivery">
      <h4>Giao hàng miễn phí và nhanh chóng</h4>
      <p>Giao hàng miễn phí cho tất cả các đơn hàng trên 200.000đ</p>
    </div>
    <div class="benefit-item">
      <img src="https://cdn-icons-png.flaticon.com/512/1828/1828843.png" alt="24/7 Support">
      <h4>Phục vụ khách hàng 24/7</h4>
      <p>Hỗ trợ khách hàng thân thiện 24/7</p>
    </div>
    <div class="benefit-item">
      <img src="https://cdn-icons-png.flaticon.com/512/190/190411.png" alt="Money Back">
      <h4>Hoàn tiền nhanh chóng</h4>
      <p>Chúng tôi hoàn lại tiền trong vòng 30 ngày</p>
    </div>
  </section>
</div>

<app-footer></app-footer>