
<app-navbar></app-navbar> <!-- Thêm navbar -->
<div class="cart-container">
  <!-- Nút điều hướng đến trang Checkout -->
  <div class="checkout-button-container">
    <button 
  class="btn btn-primary" 
  (click)="proceedToCheckout()" 
  style="background-color: #d32f2f; color: white; border: none; border-radius: 10px;">
  Đi đến thanh toán ▶
</button>

  </div>

  <div class="home-button-container">
    <button 
  class="btn btn-primary" 
  (click)="proceedToHome()" 
  style="background-color: #d32f2f; color: white; border: none; border-radius: 10px;">
  ◀ Quay lại trang chủ 
</button>

  </div>

  <table class="cart-table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems">
        <td>
          <img [src]="item.image" alt="Product Image" class="product-image" />
          {{ item.name }}
        </td>
        <td>${{ item.price }}</td>
        <td>
          <input
            type="number"
            [(ngModel)]="item.quantity"
            min="1"
            class="quantity-input"
          />
        </td>
        <td>${{ item.price * item.quantity }}</td>
      </tr>
    </tbody>
  </table>
  
  
</div>
<app-footer></app-footer>