
<app-navbar></app-navbar> <!-- Thêm navbar -->
<section class="flash-sales">
  
  <h3>Tìm kiếm</h3>
    <div class="product-list">
      <div class="product-item" *ngFor="let product of flashSales">
        <img [src]="product.image" [alt]="product.name" />
        <p>{{ product.name }}</p>
        <p>
          <span class="discount-price">{{ product.price | currency }}</span>
          <span class="original-price">{{ product.originalPrice | currency }}</span>
        </p>
        <button>Add To Cart</button>
        <button style="background-color: #ffffff; color: white; border: none; border-radius: 5px; padding: 10px 20px; font-size: 14px; cursor: pointer;">👁️</button>

      </div>
    </div>
  </section>

  <app-footer></app-footer>