<div class="contact-container">
  <app-navbar></app-navbar> <!-- Thêm navbar -->
    <div class="header">
      
    </div>
  
    <div class="contact-section">
      <div class="contact-info">
        <h2>Call To Us</h2>
        <p>We are available 24/7, 7 days a week.</p>
        <p>Phone: +84987654321</p>
        <hr />
        <h2>Write To Us</h2>
        <p>Fill out our form and we will contact you within 24 hours.</p>
        <p>Emails: fpt&#64;gmail.com</p>
        <p>Emails: fpt&#64;exclusive.com</p>
        
  
      </div>
  
      <div class="contact-form">
        <form>
          <input type="text" placeholder="Your Name *" required />
          <input type="email" placeholder="Your Email *" required />
          <input type="text" placeholder="Your Phone *" required />
          <textarea placeholder="Your Message"></textarea>
          <button type="submit">Send Message</button>
        </form>
      </div>
    </div>
  
    <app-footer></app-footer>
    
  </div>
  