<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h2>Book Store</h2>
        
      </div>
      <div class="footer-section">
        <h3>Support</h3>
        <p>🏡 Toà nhà FPT, Hoà Lạc, Thạch Thất, Hà Nội</p>
        <p>✉ fpt&#64;gmail.com</p>
        <p>📞 +84987654321</p>
      </div>
      <div class="footer-section">
        <h3>Account</h3>
        <p>Login / Register</p>
        <p>Cart</p>
        <p>Shop</p>
      </div>
      <div class="footer-section">
        <h3>Quick Link</h3>
        <p>Privacy Policy</p>
        <p>Terms Of Use</p>
        <p>Contact</p>
      </div>
      <div class="footer-section social-icons">
        <h3>Contact</h3>
        <p>Contact</p>
        <p>Contact</p>
        <p>Contact</p>
        <p>Contact</p>
      </div>
    </div>
  </footer>
  